header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  grid-area: header;
  position: fixed;
  width: 100%;
  padding-left: 20px;
  padding-right: 50px;
  top: 0;
  left: 0;
  width: 100vw;
  height: 90px;
  min-height: 90px;
  background-color: #c1c1c1;
}

.header__right_area {
  width: 280px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.header__right_area img {
  width: 60px;
  border: 1px solid #aaa;
  border-radius: 30px;
  aspect-ratio: 1;
}

.header__right_area span {
  font-size: 1rem;
  font-weight: 600;
  color: #333;
}

footer {
  grid-area: footer;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60px;
  min-height: 60px;
  background-color: #eee;
}

.footer__left_area {
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 20px;
}

aside {
  display: flex;
  flex-direction: column;
  grid-area: aside;
  background-color: #f7f7f7;
  border-right: 1px solid rgba(234, 234, 234, 1);
}

.form__container {
  flex: 0 0 45px;
  margin: 20px;
}

nav {
  padding: 20px;
  align-self: flex-start;
  overflow-y: auto;
  flex-grow: 2;
}

nav li {
  list-style-type: none;
}

.aside_footer {
  text-align: start;
  padding: 20px;
  flex-grow: 0;
}

main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main .button__box {
  width: 70%;
  height: 50px;
  margin-right: 20px;
  text-align: end;
  position: absolute;
  top: 100px;
  right: 0;
}

.button__box button {
  border: 1px solid #f1f1f1;
  position: absolute;
  top: 10px;
  right: 0;
}

.layout__wrapper {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-areas: "header header" "aside main" "footer footer";
  grid-template-rows: 90px auto 60px;
}

.search_form {
  display: flex;
  flex-direction: row;
  column-gap: 5px;
}

input[type="search"] {
  width: 70%;
  height: 40px;
  border: 2px solid #f0f0f0;
  border-radius: 10px;
  caret-color: #6c49ec;
  padding-left: 10px;
}

input[type="search"]:focus {
  outline: none;
  border: 2px solid #6c49ec;
}

button[type="button"] {
  padding: 7px 12px;
  border: 2px solid #f0f0f0;
  border-radius: 10px;
}

.aside_footer img {
  width: 200px;
}

header img {
  width: 300px;
}

hr {
  border: 1px solid rgb(234, 234, 234);
  width: 100%;
}

img[alt="Search Icon"] {
  width: 30px;
  padding: 7px 12px;
  border: 1px solid #f0f0f0;
  border-radius: 10px;
}

.img_hidden {
  opacity: 0;
}
a.active {
  background-color: #3a62f5;
  color: #fff;
  padding: 0 12px;
  border-radius: 5px;
}

a.active:hover {
  color: #c1c1c1;
}

a.pending {
  background-color: #aaa;
  color: #3a62f5;
}

@media screen and (width <= 600px) {
  .layout__wrapper {
    width: 100%;
    height: min-content;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "header" "main" "aside" "footer";
    grid-template-rows: auto;
  }

  main {
    height: 570px;
    padding: 20px;
  }

  .home__container {
    margin-top: 100px;
  }

  .search_form {
    column-gap: 0;
  }

  input[type="search"] {
    width: 100%;
  }
}
